.tile {
  text-align: center;
  height: 200px;

  border: 1px solid;
  border-color: @text;

  background-color: fade(@text, 10%);

  transition: border-color 1s ease,
              background-color 1s ease;
  &:hover {
    border: 1px solid;
    border-color: @primary;
    background-color: fade(@primary, 40%)
  }
}

.tileContent {
  padding: 10px;
}

.jumbotron {
  background-color: @transparency;
  opacity: 50%;
}
