<div class="container"><div class="row"><div class="col-xs-12"><h1>6.3 Fragearten</h1></div></div><div class="row"><div class="col-xs-12"><p>add back button fitting to design</p><p>may also need to handle infobox via angular due to design (which means adding a controller)</p></div></div><div class="row"><div class="col-sm-3"><br/><div class="infoBox"><h4>Seite XX</h4><h5>Kapitel 6.3.X</h5></div></div></div><br/><div class="row"><div class="col-xs-12"><span>figure out how to nicely display 7 different subcategories, while also staying within my monitorsize</span><p>Temporary txt from grundgerüst.txt</p><p>6.3 Fragearten<br>
	- Seiten 53-55<br>
	6.3.1 Offene Fragen<br>
		- Seite 53<br>
	6.3.2 Geschlossene Fragen<br>
		- Seite 53-54<br>
	6.3.3 Gegenfrage<br>
		- Seite 54<br>
	6.3.4 Rhetorische Fragen<br>
		- Seite 54<br>
	6.3.5 Alternativfragen<br>
		- Seite 54<br>
	6.3.6 Suggestivfragen<br>
		- Seite 54<br>
	6.3.7 Zurückgegebene Frage<br>
		- Seite 55<br></p></div></div></div>