.container
  .row
    .col-xs-12
      .jumbotron
        h1 Kapitel 6.1-6.3
        h3 Austin Albrecht
  .row
    .col-sm-4: .tile: .tileContent
      h1 6.1
      h2 Grundlagen der Kommunikation
    .col-sm-4: .tile: .tileContent
      h1 6.2
      h2 Moderator und Fragetechniken
    .col-sm-4: .tile: .tileContent
      h1 6.3
      h2 Fragearten
