include ../components/mixins
.container
  .row
    .col-xs-12
        h1 6.2 Moderator und Fragetechniken
  .row
    .col-xs-12
      button.btn.btn-back.pull-right(ng-click="$location.url('/')")
        | Back
  +infoBox("53", "6.2")
  //-
    .row
      .col-xs-12
        p Explain moderator and Fragetechnik
        p ideally add examples
  .row
    .col-md-6
      .content
        h2 Moderator
        ul
          li Ein Moderator ist eine Person, die ein Geschpräch oder eine Diskussion lenkt.
          li Er sollte die wichtigsten Fragearten (wie z.b. offene fragen) beherrschen.
          li Dies ist nötig um nicht nur selbst gute Fragen zu stellen, sondern um auch gut mit den Fragen von anderen umgehen zu können.
        img(src="https://lh6.googleusercontent.com/-GtisHorbLQg/AAAAAAAAAAI/AAAAAAAAAB0/7ycLSjfCY4g/photo.jpg", alt="")

    .col-md-6
      .content
        h2 Fragetechniken
        ul
          li Mit Fragetechnik wird die gezielte Auswahl von offenen und geschlossenen Fragen zur Gesprächsführung bezeichnet.
          li Eine Frage sollte sprachlich klar erkennlich sein. Wichtig dabei ist die Betonung, Tonhöhe und Tonverlauf.
          li Es ist auch wichtig dass der Fragende bemerkt ob zugehört wird und ob der Gefragte eine verständliche antwort geben kann.
